@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --link-hover: #000000;
  --link-transition: 0.3s ease-in;
  --main-bg: #9a0527;
  --off-white: #fbfbfb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--main-bg, #9a0527);
  color: var(--off-white, #fbfbfb);
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.container {
  letter-spacing: 0.23mm;
  margin: 0.5rem auto;
  max-width: 40.625em;
  text-align: center;
  width: 95%;
}

header{
  margin-bottom: 1.75rem;
}

.author-image {
  border-radius: 50%;
  height: 7.5rem; 
  margin-bottom: 0.625rem; 
  width: 7.5rem;
}

/*.intro-text {
  margin-bottom: 1.625rem; 
}*/

i {
  margin-right: 1.25rem; 
}

.social-link {
  border: 1px solid var(--off-white, #fbfbfb);
  border-radius: 0.625rem;
  color: var(--off-white, #fbfbfb);
  display: block;
  font-size: 1.25rem;
  padding: 0.625rem;
  text-decoration: none;
  transition: var(--link-transition);
}


.social-link:not(:last-child) {
  margin-bottom: 1.75rem;
}


.social-link:hover {
  background-color: var(--off-white, #fbfbfb);
  color: var(--link-hover, #000000);
}

@media (max-width:26.5625em){
    .container {
      margin: 1rem auto 1.25rem;
    }

   .intro-heading {
    font-size: 1.375rem;
    margin-bottom: 1rem;   }

  .social-link {
    font-size: 1.125rem;
  }
}
