@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  background-color: #9a0527;
  color: #fbfbfb;
  font-family: 'Poppins', sans-serif;
}

main {
  margin: auto;
  text-align: center;
  width: 60%;
  min-width: 375px;
  max-width: 650px;
}

img {
  border-radius: 50%;
  height: 120px;
  margin-bottom: 10px;
  width: 120px;
}

h2{
  letter-spacing: 1px;
}

h2,
p,a:not(:last-child) {
  margin-bottom: 1em;
}

.links {
  letter-spacing: 0.2mm;
}

a {
  color: #fbfbfb;
  display: block;
  font-size: 1.3em;
  text-decoration: none;
}

a:hover {
  color: black;
}

.innerlink {
  border: 1px solid #fbfbfb;
  border-radius: 10px;
  padding: 8px;
  transition: 0.3s ease-in;
}

.innerlink:hover {
  background-color: #fbfbfb;
}